<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> THIS IS YOUR ORDER:  </h1>
<td th:text="${user!=null} ? ${user.username}: 'You are not logged in'" />

<table class="table">
    <tbody>
    <tr>
            <td th:each="item:${services}" th:text="${item.getTypeofService()}"> Package</td>
   <!-- </tr>
    <tr>-->
        <td th:text="'Optional products: ' + ${order.getProducts()}">Package</td>
        <td th:text="'Total fee: ' + ${order.getTotalValueOrder()} + '$'">Package</td>
        <td th:text="'Subscription starting on ' + ${order.getDate_of_subscription()}">Package</td>
        <td th:text="'Subscription valid for ' + ${order.getValidityPeriod().getNumOfMonths()} + ' months, ending on ' + ${order.getDate_end_subscription()}">Package</td>
        <td th:text="'Order date: ' + ${order.getDate_of_creation()}">Package</td>

    </tr>
    </tbody>
</table>

<p th:text="${orderStatus}"></p>
<form action="HomePage" method="get">
    <input type="submit" value="Home Page">
</form>
</body>
</html>