<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> THIS IS YOUR ORDER:  </h1>
<td th:text="${user!=null} ? ${user.username}: 'You are not logged in'" />

<table class="table">
    <tbody>
    <tr>
        <td>SERVICES</td>
        <td>OPTIONAL PRODUCTS</td>
        <td>TOTAL FEE</td>
        <td>START SUBSCRIPTION</td>
        <td>SUBS PERIOD AND END</td>
        <td>ORDER MADE ON THE</td>

    </tr>
    <tr>

        <td th:each="s:${services}" th:text="${s.getServiceType()}+':'+${s.toString()}" th:value="${s.id}"></td>
        <td th:text="${order.getProducts()}">Package</td>
        <td th:text="${order.getTotalValueOrder()} + '$'">Package</td>
        <td th:text="${order.getDate_of_subscription()}">Package</td>
        <td th:text="'for ' + ${order.getValidityPeriod().getNumOfMonths()} + ' months, ending on ' + ${order.getDate_end_subscription()}">Package</td>
        <td th:text="${order.getDate_of_creation()}">Package</td>

    </tr>
    </tbody>
</table>

<p th:text="${orderStatus}"></p>
<form action="HomePage" method="get">
    <input type="submit" value="Home Page">
</form>
</body>
</html>