<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> EMPLOYEE HOME PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>HOMEPAGE</h1>
<h4 th:text="${employee.getUsername()}">Name </h4>
<h2>DESIGN YOUR PACKAGE</h2>

<form action="#" th:action="@{/CreateServicePackage}" method="post">
    Name: <input type="text" name="name" required> <br>
    <fieldset>
        <legend>Choose one or more services</legend>
        <input type="checkbox" name="services" th:each="s:${services}" th:value="${s.id}" th:text="${s.getTypeofService()}">
    </fieldset>
    <fieldset>
        <legend>Choose one or more products</legend>
        <input type="checkbox" name="products" th:each="p:${products}"  th:value="${p.id}" th:text="${p.name}">
    </fieldset>
    <fieldset>
        <legend>Choose one or more validityPeriod</legend>
        <input type="checkbox" name="validityPeriods" th:each="vp:${validityPeriods}" th:value="${vp.id}" th:text="${vp.toString()}">
    </fieldset>
    <p style="text-align: center;float: bottom" th:text="${confirmMsg}"></p>
    <input type="submit" value="Create service package">
</form>
</body>
</html>