<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> EMPLOYEE REPORT PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> REPORT PAGE</h1>
<h2 th:text="${employee.username}">Name </h2><br>
<br>

<h2>Purchases per package</h2>
<table class="table">
    <tbody>
    <tr>
        <td> Package</td>
        <td>Purchases counter</td>
    </tr>
    <tr th:if="${totalPurchasePack!=null}" th:each="item:${totalPurchasePack}">
        <td  th:text="${item.servicePackage.name}"> Package</td>
        <td  th:text="${item.totalPurchases}">Package</td>
    </tr>
    </tbody>
</table><br>

<h2>Purchases per package and validity period</h2>

<table class="table">
    <tbody>
    <tr>
        <td> Package</td>
        <td>Validity period</td>
        <td>Purchases counter</td>
    </tr>
    <tr th:if="${totalPurchasePackAndVal!=null}" th:each="item:${totalPurchasePackAndVal}">
        <td  th:text="${item.servicePackage.name}"> Package</td>
        <td  th:text="${item.validityPeriod.toString()}">Package</td>
        <td  th:text="${item.totalPurchases}">Package</td>
    </tr>
    </tbody>
</table><br>

<h2>Total income from packages with and without products</h2>
<table class="table">
    <tbody>
    <tr>
        <td> Package</td>
        <td>Package value without products</td>
        <td> Package value with products </td>

    </tr>
    <tr th:if="${salesPackage!=null}" th:each="item:${salesPackage}">
        <td  th:text="${item.servicePackage.name}"> Package</td>
        <td  th:text="${item.getTotalSalesWithoutProduct()} + '$'">Package</td>
        <td  th:text="${item.getTotalSalesWithProduct()} + '$'">Package</td>
    </tr>
    </tbody>
</table><br>

<h2>Average number of products sold per package</h2>
<table class="table">
    <tbody>
    <tr>
        <td> Package</td>
        <td>Average number of products sold</td>

    </tr>
    <tr  th:if="${avgProductsPerPackage!=null}" th:each="item:${avgProductsPerPackage}">
        <td  th:text="${item.servicePackage.name}"> Package</td>
        <td  th:text="${item.getAverage()>0} ? ${item.getAverage()}: '0'">Package</td>
    </tr>
    </tbody>
</table><br>

<h2>Insolvent users and related denied orders and alerts</h2>
<table class="table">
    <tbody>
    <tr>
        <td> Insolvent users</td>
        <td>Suspended orders</td>
        <td>Alert</td>

    </tr>
    <tr th:if="${insolvents!=null}" th:each="user:${insolvents}">
        <td th:text="${user.getUser().username}">Username</td>
        <td th:each="s:${suspendedOrders}" th:text="${s.order.getCreator().id==user.user_id} ? ${s.order.service.name} "/>
        <td th:each="a:${alertReport}" th:text="${a.getAlert().getUser().id==user.user_id} ? ${a.alert.lastRejection} "/>
    </tr>
    </tbody>
</table><br>

<div>
    <p th:text="${bestProduct!=null} ? 'Best product: '+ ${bestProduct.product.name} : 'No best product found'"></p>
</div>

<form action="EmployeeHomePage" method="get">
    <input type="submit" value="Home Page">
</form>


</body>
</html>