<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>HOMEPAGE</h1>
    <td th:text="${user!=null} ? ${user.username}: 'You are not logged in'" />

    <h2>These are your active packages</h2>
    <table class="table">
            <tbody>
            <tr th:each="item:${active}">
                <td th:if="${!item.isConfirmed()}"> <a th:href="@{/ConfirmationPage(orderId=${item.getId()})}"> <span
                        th:text="${item.getService().getName()}"></span></a></td>
                <td th:if="${item.isConfirmed()}" th:text="${item.getService().name}">Package</td>
                <td th:text="${item.getDate_of_subscription()}">Package</td>
                <td th:text="${item.getDate_end_subscription()}">Package</td>
                <td th:text="${item.getProducts()}">Package</td>
                <td th:text="${item.isConfirmed()}">Package</td>

            </tr>
            </tbody>
        </table>
    <h2>These are the available packages</h2>
    <table class="table">
            <tbody>
            <tr>
                <td>Package name</td>
                <td>Validity periods</td>
                <td>Optional products</td>
            </tr>
                    <tr th:each="pack:${available}">
                        <td><a th:href="@{/ShowServicePackage(servicePackageId=${pack.getId()})}"> <span
                                th:text="${pack.name}"></span></a></td>
                        <td>
                            <p th:each="period:${pack.getValidityPeriods()}" th:text="${period.getNumOfMonths()}+'months at ' + ${period.getMonthly_fee()} + '$/month'"></p>
                        </td>
                        <td>
                            <p th:each="product:${pack.getProducts()}" th:text="${product.name}"></p>
                        </td>
                    </tr>
            </tbody>
        </table>
</body>
</html>