<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>

        <table border="1">
            <thead>
                <tr>
                    <th>
                        These are your packages
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="p:${user.servicePackages}">
                <td th:text="${p.name}">Package</td>
            </tr>
            </tbody>
        </table>
        <table border="1">
            <thead>
            <tr>
                <th>
                    These are your available packages
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p:${available}">
                <td th:text="${p.name}">Package</td>
            </tr>
            </tbody>
        </table>


</body>
</html>