<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>HOMEPAGE</h1>
    <td th:text="${user!=null} ? ${user.username}: 'You are not logged in'" />

    <h2>These are your active packages</h2>
    <table class="table">
            <tbody>
            <tr th:each="item:${active}">
                <td th:text="${item.getService().name}">Package</td>
                <td th:text="${item.getDate_of_subscription()}">Package</td>
                <td th:text="${item.getDate_end_subscription()}">Package</td>
                <td th:text="${item.getProducts()}">Package</td>

            </tr>
            </tbody>
        </table>
    <h2>These are the available packages</h2>
    <table class="table">
            <tbody>
                    <tr th:each="pack:${available}">
                        <td><a th:href="@{/ShowServicePackage(servicePackageId=${pack.getId()})}"> <span
                                th:text="${pack.name}"></span></a></td>
                        <td th:text="${pack.getValidityPeriod().getNumOfMonths()}">Package</td>
                        <td th:text="${pack.getValidityPeriod().getMonthly_fee()}">Package</td>
<!--                        <td th:text="${item.getProducts()}">Package</td>-->
                    </tr>
            </tbody>
        </table>
</body>
</html>