<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Welcome to Telco</h1>
<form class="login" action="CheckLogin" method="POST">
    <p style="text-align: center">Login</p>
    Username: <input type="text" name="username" required> <br>
    Password: <input type="password" name="pwd" required><br>
    <p th:text=" ${errorMsg}"></p>
    <input type="submit" style="font-size: 50px" value="Login">
</form>
<form class="registration" action="Register" method="POST">
    <p style="text-align: center">Registration</p>
    Username: <input type="text" name="username" required> <br>
    Password: <input type="password" name="pwd" required><br>
    <p th:text=" ${errorMsg}"></p>
    <label for="role">Choose your role:</label>
    <select name="role" id="role" required>
        <option value="">None</option>
        <option value="user">User</option>
        <option value="employee">Employee</option>
    </select>
    <br><br>
    <input type="submit" style="font-size: 100px" value="Register">
</form>
<p style="text-align: center;float: bottom">Visit without login</p>
<input type="submit" style="font-size: 100px" value="Visit">
</body>
</html>