<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIEW PACKAGE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p th:text="${servicePackage.get().name}"></p>
    <form class="buy" action="ConfirmationPage" method="post" >
    <table class="table">
        <tbody>
        <tr th:each="item:${services}">
            <td th:text="${item.getTypeofService()}">Package</td>
            <td th:text="'Months: ' + ${servicePackage.get().getValidityPeriod().getNumOfMonths()}">Package</td>
            <td th:text="'Price: ' + ${servicePackage.get().getValidityPeriod().getMonthly_fee()}">Package</td>
            <!--                <td th:text="${p.getProducts()}">Package</td>-->
        </tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Options</legend>
        <label>Choose if you want any optional product:</label>
        <input type="checkbox" name="optionalProducts" th:each="op:${servicePackage.get().getProducts()}" th:value="${op.id}" th:text="${op.name}">
        <br>
        <label>Choose one validityPeriod:</label>
        <input type="checkbox" name="validityPeriod" th:value="${servicePackage.get().getValidityPeriod().id}" th:text="${servicePackage.get().getValidityPeriod().toString()}" required>
        <br>
        <label for="start">Choose start date:</label><input type="date" id="start" name="validityStart">
    </fieldset>
    <br>
    <button type="submit"  name="servicePackageId" th:value="${servicePackage.get().getId()}" > BUY </button>
    </form>

</body>
</html>